.ff-0{font-family:arial,\5b8b\4f53;}
.ff-1{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;}
.fs-8{font-size:.8rem;}
.fs-9{font-size:.9rem;}
.fs-10{font-size:1rem;}
.fs-11{font-size:1.1rem;}
.fs-12{font-size:1.2rem;}
.fs-13{font-size:1.3rem;}
.fs-14{font-size:1.4rem;}
.fs-15{font-size:1.5rem;}
.fs-16{font-size:1.6rem;}
.fs-18{font-size:1.8rem;}
.fs-20{font-size:2rem;}
.fs-22{font-size:2.2rem;}
.fs-24{font-size:2.4rem;}
.fs-26{font-size:2.6rem;}
.fs-28{font-size:2.8rem;}
.fs-30{font-size:3rem;}
.fw-n{font-weight:normal;}
.fw-b{font-weight:bold;}
